/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
}

/* Left section styles */

.left-section {
    width: 250px;
    background-color: #252525;
    padding: calc(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.left-section img {
    width: 80%;
    margin-bottom: calc(30px);
}

.title {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 0;
}

/* Navigation styles */

.navigation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: calc(10px) 0;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
}

.navigation a:hover {
    text-decoration: underline;
}

/* Contact info styles */

.contact-info {
    margin-top: auto;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    font-family: Helvetica, sans-serif;
    width: 100%;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Right section styles */

.right-section {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(20px);
    overflow-y: auto;
    overflow-x: hidden;
}

/* Overlay styles */

.overlay {
    padding: calc(20px);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
}

/* Photo album styles */