@import 'layout.css';
@import 'navigation.css';
@import 'contact.css';
@import 'overlay.css';
@import 'content.css';

.right-section {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .left-section {
        width: 40%;
    }

    .right-section {
        padding: 10px;
    }

    .content img {
        max-width: 100%;
    }
}
