/* content.css */
.content {
    text-align: left;
    color: #fff;
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    margin-top: 20px;
}

.content img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #fff;
    margin: 20px 0;
}

.content ul {
    text-align: left;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}

.content ul li {
    margin: 10px 0;
}
