@import 'layout.css';
@import 'navigation.css';
@import 'contact.css';
@import 'overlay.css';
@import 'responsive.css';

.title {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 0;
}

.right-section {
    background-image: url('index-bg-rs.jpeg');
    background-size: cover;
    background-position: center;
}
