@import 'layout.css';
@import 'navigation.css';
@import 'contact.css';
@import 'overlay.css';
@import 'responsive.css';

.about {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-family: 'Georgia', serif;
    font-size: 1.2em;
}

.about img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #fff;
}
